@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.fa-xmark {
    cursor: pointer;
}

#add-image-container {
    white-space: nowrap;
}

#swal2-title {
    font-size: 20px;
}

#swal2-html-container {
    margin-top: 10px;
    font-size: 14px;
}

.service-link {
    cursor: pointer;
}

#order-menu-link, 
#notification-link {
    font-size: 14px;
    cursor: pointer;
}

#notification-link h6 {
    font-size: 14px;
}

.custom-loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    z-index: 999;
    width:50px;
    height:50px;
    --c:radial-gradient(farthest-side,#2891E1 92%,#0000);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 1s infinite;
}
@keyframes s7 {
    to {
        transform: rotate(.5turn) translate(35%, 50%);
    }
}

.row #profile-img {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

i.fa-heart, i.fa-star {
    cursor: pointer;
}

.row #employer-img {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: .2px;
    opacity: 0;
}

a:hover {
    text-decoration: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.sidebar {
    background-color: #fff;
    width: 235px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    user-select: none;
    }

.sidebar .sidebar-logo {
    column-gap: 8px;
    transform: translateX(-10px);
    position: relative;
}

.sidebar #btn_open_close {
    position: absolute;
    top: 50%;
    right: -23px;
    transform: translateY(-50%) rotate(180deg);
    background-color: #2891e1;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.sidebar .link-list .navbar-nav .dropdown-item a {
    /* column-gap: 10px; */
    padding: 20px 0;
}

.sidebar .link-list .navbar-nav .dropdown-item a p {
    color: #666;
}

.sidebar .link-list .navbar-nav .dropdown-item a:hover p, 
.sidebar .link-list .navbar-nav .dropdown-item a:hover span {
    color: #2891e1;
}

.sidebar .link-list .navbar-nav .dropdown-item a span,
.sidebar .link-list .navbar-nav .dropdown-item a i {
    color: #666;
    transform: translateX(10px);
}

.sidebar .link-list .navbar-nav .dropdown-item a.active {
    background-color: #84c9fe2a;
    border-right: 5px solid #2891e1;
}

.sidebar .link-list .navbar-nav .dropdown-item a.active p,
.sidebar .link-list .navbar-nav .dropdown-item a.active span {
    color:  #2891e1;
}

.sidebar .link-list .navbar-nav .dropdown-item a.active span {
    transform: translateX(11.5px);
}

/* Content */
.container-freelancer {
    display: flex;
    justify-content: flex-end;
}

.container-freelancer .content {
    width: calc(100% - 235px);
    transition: width .3s ease;
    height: max-content;
}

/* Profile */

.row .form-control {
    border-radius: unset;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    font-size: 14px;
    color: #333;
    letter-spacing: .2px;
    transition: all .2s ease-in-out;
    transform: translateY(3px);
}

.row .info_price {
    cursor: pointer;
    font-size: 17px;
}

.row #price_loader {
    position: absolute;
    top: 30%;
    right: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#1e1e1f 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#474747);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:price 1s infinite linear;
    display: none;
}

@keyframes price { 
    100%{transform: rotate(1turn)}
}

.row .info_price_text {
    background-color: #fff;
    font-size: 13.5px;
    display: none;
    position: absolute;
    width: 70%;
    top: 40px;
    right: 0;
    user-select: none;
    z-index: 998;
}

.row .form-control:focus {
    border-bottom: 2px solid #2891e1;
    background-color: transparent;
}

/* Profile Address */

.row .suggestion-list {
    position: absolute;
    top: 105%;
    left: 50%;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    transform: translateX(-50%);
    background-color: white;
    list-style: none;
    padding-left: 0px;
    z-index: 999;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    display: none;
}

.row .suggestion-list li {
    padding: 8px 0px 8px 10px;
    border-bottom: 1px solid gainsboro;
    font-size: 14px;
    color: #444;
    letter-spacing: .2px;
    cursor: pointer;
}

.row .suggestion-list li:hover {
    background-color: rgb(235, 235, 235);
}

#create-jobs #higher_price .form-control::placeholder, 
#lower_price .form-control::placeholder {
    color: gray;
    font-size: 13.5px;
}

/* #create-jobs .currency {
    padding: 4px 6px;
    border-right: 1px solid gainsboro;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
} */

#dashboard-main-detail {
    grid-template-columns: repeat(4, 1fr);
}

#order-img {
    width: 45px;
    height: 45px;
}

#order-status {
    padding-bottom: 5px;
    font-size: 13px;
}

#serviceImage, #addImage {
    height: 200px;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu .dropdown-item:active {
    background-color: gainsboro;
    color: #333;
}

.dropdown-menu .dropdown-item:active i {
    color: #333;
}

#delete_image {
    background-color: red;
    border-bottom-left-radius: 7px;
    height: 18px;
    width: 18px;
    display: grid;
    place-items: center;
}

@media (max-width: 991.5px) {
    #dashboard-main-detail {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .container-freelancer {
        display: flex;
        justify-content: flex-end;
    }
    .container-freelancer .content {
        width: 100%;
    }
    #service-order-title {
        font-size: 14px;
    }
    #order-price, #order-category {
        font-size: 11.5px;
    }
    #order-time, #order-status, #order-action {
        font-size: 12.5px;
    }
    #notification-username {
        font-size: 13px;
    }
    #serviceImage, #addImage {
        height: 180px;
        width: 270px;
    }
}

@media (max-width: 576px) {
    #dashboard-main-detail {
        grid-template-columns: 1fr;
    }
    #parent-order-menu {
        overflow-x: scroll;
    }
    #service-order-title {
        font-size: 13.5px;
    }
    #order-time, #order-action {
        font-size: 12.5px;
    }
    #order-img {
        width: 41px;
        height: 41px;
    }
    #order-status {
        font-size: 12px;
    }
    #notification-username {
        font-size: 12.5px;
    }
}