/* 
    <md = phone view
    md> = desktop view
*/


/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color: #2891e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #fff;
}

a:hover {
    text-decoration: none;
}

#swal2-title {
    font-size: 20px;
}

#swal2-html-container {
    margin-top: 10px;
    font-size: 14px;
}

#card_payment {
    width: 70%;
}

#card_payment #text_payment {
    width: 65%;
}

.custom-loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    z-index: 999;
    width:50px;
    height:50px;
    --c:radial-gradient(farthest-side,#2891E1 92%,#0000);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 1s infinite;
}
@keyframes s7 {
    to {
        transform: rotate(.5turn) translate(35%, 50%);
    }
}

#notification-link {
    cursor: pointer;
}

.searchbar {
    outline: none;
    border-right: unset;
    width: 280px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    font-size: 13px;
    caret-color: var(--primary-color);
    color: #333;
}

.searchbar:focus {
    border: 1.5px solid var(--primary-color);
    border-right: unset;
}

.searchbar::placeholder {
    font-size: 13px;
}

#searchbar-mobile {
    bottom: 0; 
    right: 0; 
    width: 100%; 
    overflow: hidden; 
    display: none;
    z-index: 999;
}

#searchbar-mobile .searchbar {
    background: white;
}

.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}

#mobile-navbar {
    z-index: 999;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

#chat {
    position: fixed; 
    bottom: 30px;
    right: 25px;
    height: 55px;
    width: 55px;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    z-index: 999;
}

.fa-ellipsis-vertical {
    cursor: pointer;
}

.fa-message {
    color: var(--primary-color);
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar .dropdown-menu .dropdown-item {
    font-size: 14px;
}

.navbar #searchbar button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fa-heart.unwishlist {
    display: none;
}

i.fa-bell {
    cursor: pointer;
}

i.fa-heart {
    /* color: var(--primary-color); */
    color: red;
    cursor: pointer;
}

i.fa-heart:hover {
    cursor: pointer;
}

i.fa-heart:active {
    transform: scale(0.92);
    transition: transform .2s ease;
}

input[type=number] {
    -moz-appearance: textfield;
}

.owl-carousel .item {
    height: 45px;
    /* width: 12vw; */
    width: max-content;
    /* min-width: 190px; */
    background-color: #fff;
}

.owl-carousel .owl-dots {
    display: none;
}

/* Profile */

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: max-content;
    position: relative;
}

.profile #order-freelancer-profile {
    height: 45px;
    width: 45px;
}

.profile #order-action-btn {
    font-size: 13.5px;
}

.profile #order-profile-title {
    font-size: 14.5px;
}

.profile #status-order {
    font-size: 12px;
    padding-bottom: 6px;
}

.profile #order-profile-img {
    height: 80px;
    width: 80px;
}

.profile #profile-image-form {
    width: 100px;
    height: 100px;
}

.profile #btn-profile-form {
    font-size: 14.5px;
    background-color: var(--primary-color);
}

.profile #sidebar-icon {
    font-size: 13px;
}

.profile #sidebar-link {
    border-bottom: 1px solid gainsboro;
}

.profile #sidebar-link:hover {
    background-color: rgba(238, 238, 238, 0.461);
}

.profile .sidebar {
    background-color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid gainsboro;
    width: 26%;
    position: relative;
}

.profile .sidebar .list-group .list-group-item .active {
    color: var(--primary-color);
}

.profile .sidebar .list-group #profile-dropdown-menu {
    margin-top: 4px;
    height: max-content;
}

.profile  .profile-content {
    width: 72%;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}

.row .form-control {
    border-radius: unset;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    font-size: 14px;
    color: #333;
    letter-spacing: .2px;
    transition: all .1s ease-in-out;
}

.profile .profile-content .form-floating #country {
    position: relative;
}

.row .form-floating .form-control {
    padding-top: 28px;
}

.row .form-floating textarea {
    transform: translateY(7px);
}

.row .suggestion-list {
    position: absolute;
    top: 105%;
    left: 50%;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    transform: translateX(-50%);
    background-color: white;
    list-style: none;
    padding-left: 0px;
    z-index: 990;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    display: none;
}

.row .suggestion-list li {
    padding: 8px 0px 8px 10px;
    border-bottom: 1px solid gainsboro;
    font-size: 14px;
    color: #444;
    letter-spacing: .2px;
    cursor: pointer;
}

.row .suggestion-list li:hover {
    background-color: rgb(235, 235, 235);
}

.row .form-control {
    transform: translateY(3px);
    outline: none;
}

.row .form-control:focus {
    border-bottom: 2px solid #2891e1;
    background-color: unset;
}

.profile .profile-content label {
    font-size: 13.5px;
}

.row #profile-img {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.row .fa-xmark {
    border: 1px solid transparent;
    height: 25px;
    width: 25px;
    display: grid;
    place-items: center;
}

.row .fa-xmark:hover {
    border: 1px solid grey;
    transition: border .1s ease-in;
}

.row #employer-img {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: .2px;
    opacity: 0;
}

.sidebar .profile-info {
    width: 60%;
}

.sidebar .list-group-item {
    border-bottom: unset;
    padding-bottom: 2px;
}

.sidebar .list-group-item a {
    font-size: 14px;
    text-decoration: none;
    color: #444;
}

#user_profile {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.detail-image {
    cursor: pointer;
    height: 197px;
}

.detail-image:nth-child(4) {
    position: relative;
}

.detail-image:nth-child(4)::after {
    font-family: "FontAwesome";
    content: "\f302";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.559);
    display: grid;
    place-items: center;
    color: white;
    font-size: 25px;
}

#filter-search {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 80%;
    background-color: var(--primary-color);
    user-select: none;
    cursor: pointer;
}

#select {
    overflow: hidden;
    height: 35px;
}

.autocomplete-container {
    background-color: #fff;
    top: 42px;
    border-radius: 10px;
    display: none;
    overflow: hidden;
    /* height: 300px; */
    /* overflow-y: scroll; */
}

.autocomplete-container .autocomplete_link {
    cursor: pointer;
    font-size: 12.5px;
    color: #333;
}

.autocomplete-container .autocomplete_link:hover {
    background-color: rgba(214, 214, 214, 0.411);
}

select {
    border-right: 10px solid transparent;
    outline: none;
    border-color: transparent;
}

select option {
    font-size: 14px;
}

#service-gallery-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 6px; 
    height: 400px;
    overflow: hidden;
}

#gallery-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}

#similiar-product {
    height: 290px; 
    width: 350px; 
    overflow: hidden;
}

#slider_category {
    background-color: #fff;
    padding: 8px 30px;
}

#slider_category:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: box-shadow .3s ease;
}

#slider_category i {
    font-size: 20px;
}

#order-menu-link {
    font-size: 12px;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    padding-left: 20px;
    padding-right: 50px;
}

.owl-carousel .fa-angle-left, 
.owl-carousel .fa-angle-right {
    font-size: 15px;
    position: absolute;
    top: 25%;
    transform: translateY(-30%);
    color: #333;
    height: 30px;
    width: 30px;
    border: 1px solid #dee2e6;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.owl-carousel .fa-angle-left:hover, 
.owl-carousel .fa-angle-right:hover {
    color: #333;
}

.owl-carousel .fa-angle-left {
    left: 25px;
}

.owl-carousel .fa-angle-right {
    right: 25px;
}

#filter-mobile-container {
    position: fixed;
    left: 0;
    bottom: -500px;
    height: max-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    display: none;
    transition: bottom .3s ease;
    padding-bottom: 90px;
}

#parent_image_category #category_image {
    height: 165px;
    width: 230px;
    overflow: hidden;
}

#box_categories {
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #fff;
    color: #333;
}

#box_categories:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: box-shadow .3s ease-in-out;
}

#box_categories:hover .mdi {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

#box_categories:hover small {
    transform: scale(1.05) translateY(1px);
    transition: transform .3s ease-in-out;
}

#box_categories:active {
    box-shadow: unset;
    transition: box-shadow .1s ease;
}

#link_personal_footer {
    height: 35px;
    width: 35px;
    display: grid;
    place-items: center;
    border: 1px solid gainsboro;
    text-decoration: none;
    border-radius: 50%;
}

#link_personal_footer:hover {
    transform: translateY(-5px);
    transition: transform .2s ease-in-out;
}

#footer_link {
    color: #555;
}

#footer_link ul small a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    transition: color .3s ease-in-out;
}

#service-img-mobile .carousel-item {
    height: 100%;
}

#similiar_image {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1120px) {
    .profile .sidebar {
        width: 27%;
        min-width: 21%;
    }
    .profile .profile-content {
        width: 70%;
        min-width: 67%;
    }
    #service-gallery-container {
        height: 350px;
    }
    .detail-image {
        height: 172px;
    }
}

@media (max-width: 1000px) {
    .profile .sidebar {
        width: 30%;
    }
    .profile .profile-content {
        width: 65%;
    }
    .searchbar {
        width: 230px;
    }
    #service-gallery-container {
        height: 330px;
    }
    .detail-image {
        height: 162px;
    }
}

@media (max-width: 850px) {
    .container-lg #side-jobs {
        display: none;
    }
    .profile #profile-image-form {
        width: 90px;
        height: 90px;
    }
    .profile #btn-profile-form {
        font-size: 14px;
    }
    .profile #order-profile-img {
        height: 75px;
        width: 75px;
    }
    .profile #order-profile-title {
        font-size: 14px;
    }
    .profile #status-order {
        font-size: 11.5px;
        padding-bottom: 6px;
    }
    .searchbar {
        width: 220px;
    }
}

@media (max-width: 767px) {
     .profile {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        column-gap: unset;
    }
    .profile .sidebar {
        width: 100%;
        border-radius: unset;
        border: unset;
    }
    .profile .profile-content {
        border-radius: unset;
        width: 100%;
    }
    #mobile-navbar {
        display: grid;
        height: 75px;
        border-top: 1px solid gainsboro;
    }
    #chat {
        display: none;
    }
    #user_profile {
        width: 70px;
        height: 70px;
    }
    #service-img-mobile {
        height: 300px;
        display: flex;
        align-items: center;
    }
    #service-gallery-container {
        grid-template-columns: unset;
        gap: unset;
        height: max-content;
        padding-bottom: 10px;
    }
    #similiar-product {
        height: 250px; 
        width: 300px; 
    }
    .profile #sidebar-icon {
        font-size: 15px;
    }
    .profile #sidebar-link {
        border: 1px solid gainsboro;
        border-radius: 10px;
    }
    .profile #btn-profile-form {
        font-size: 13.5px;
    }
    .profile #order-freelancer-profile {
        height: 42px;
        width: 42px;
    }
    .profile #order-profile-title {
        font-size: 13.5px;
    }
    #filter-mobile-container {
        display: block;
    }
    .searchbar {
        width: 300px;
    }
    .autocomplete-container {
        top: 60px;
    }
    .searchbar:focus {
        border: 1.5px solid var(--primary-color);
    }
    #category_image {
        height: 145px;
        width: 210px;
    }
    #card_payment {
        width: 100%;
    }
    #card_payment #text_payment {
        width: 70%;
    }
    #similiar_image {
        height: 200px;
    }
}

@media (max-width: 576px) {
    #service-img-mobile {
        height: 245px;
    }
    #order-menu-link {
        font-size: 13px;
    }
    .profile #order-profile-img {
        height: 75px;
        width: 75px;
    }
    .profile #order-action-btn {
        font-size: 13px;
    }
    .profile #order-profile-title {
        font-size: 13px;
    }
    #parent_image_category {
        width: 100%;
    }
    #parent_image_category #category_image {
        height: 180px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    #parent-order-menu-link {
        overflow-x: scroll;
    }
    .profile #order-profile-img {
        height: 65px;
        width: 65px;
    }
}